# Fichiers d'environnement
.env
*.env

# Fichiers de configuration sensibles
*.secret
*.key
*.pem

# Dossiers et fichiers générés
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Dossiers de virtualenv
.venv/
venv/
ENV/

# Fichiers Docker
*.pid
docker-compose.override.yml

# Fichiers spécifiques à l'IDE
.vscode/
.idea/
*.swp

# Autres fichiers temporaires
*.bak
*.tmp
*.old

# Fichiers de test
coverage.xml
htmlcov/

# Node.js
node_modules/

# MacOS
.DS_Store

